{% extends "CoreBundle::layout.html.twig" %}

{% block title %}Post By author {{ author.name }}{% endblock %}
{% block sidebar %}
    <aside>
        <h3>Posted By </h3>
        <p>{{ author.name }}</p>
    </aside>
{% endblock %}
{% block section %}
  {% for post in post %}
      {{ include('CoreBundle:Post:_post.html.twig', {post: post}) }}
      {% else %}
       <p>{{ 'author.empty.post' }} This author didn't write any posts yet lan !</p>
 {% endfor %}
{% endblock %}
