{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
<title>Simple bloc</title>
{% endblock %}
{% block sidebar %}
    <aside>
        <h3>Latest Posts</h3>
        {% for post in latestPost %}
            <p><a href="#"> {{ post.title }}</a></p>
        {% endfor %}
    </aside>
{% endblock %}
{% block section %}
{% for post in post %}
    {{ include('CoreBundle:Post:_post.html.twig', {post: post}) }}
{% endfor %}
{% endblock %}
